---
import LandingHero from "../components/LandingHero.astro";
import SectionAbout from "../components/SectionAbout.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="TODO">
	<main>
		<LandingHero />
		<!-- <SectionAbout /> -->
	</main>
</Layout>
