---
import cn from "classnames";
interface Props {
    direction?: "left" | "right";
    className?: string;
}

const { direction = "left", className } = Astro.props;
---

<div class="relative w-full overflow-hidden h-full flex">
    <div
        class={cn(
            direction === "right" ? "animate-slide-reverse" : "animate-slide",
            "hover:pause-animation flex gap-4 items-center justify-start will-change-transform",
            className,
        )}
    >
        <slot />
        <slot aria-disabled="true" />
    </div>

    <!-- Fades only on larger screens where there's page padding on the sides -->
    <div
        class="hidden lg:block absolute left-0 inset-y-0 w-2 bg-linear-to-r from-cream to-transparent pointer-events-none z-10"
    >
    </div>
    <div
        class="hidden lg:block absolute right-0 inset-y-0 w-2 bg-linear-to-l from-cream to-transparent pointer-events-none z-10"
    >
    </div>
</div>
