---
import cn from "classnames";
interface Props {
    direction?: "left" | "right";
    className?: string;
}

const { direction = "left", className } = Astro.props;
---

<div
    class="relative transition-all w-full
            overflow-hidden
             h-full flex"
>
    <div
        class={cn(
            direction === "right" ? "animate-slide-reverse" : "animate-slide",
            "hover:pause-animation flex text-accent gap-10 items-center justify-start will-change-transform",
            className,
        )}
    >
        <slot />
        <slot aria-disabled="true" />
    </div>
    <div
        class="transition-all left-0 inset-y-0 bg-linear-to-r w-0 2xl:w-1/20 from-primary to-transparent hidden md:flex absolute pointer-events-none overflow-hidden flex-row"
    >
    </div>
    <div
        class="transition-all right-0 inset-y-0 bg-linear-to-l w-0 2xl:w-1/20 from-primary to-transparent hidden md:flex absolute pointer-events-none overflow-hidden flex-row"
    >
    </div>
</div>
