---

---

<footer
    class="bg-cream text-mid py-20 px-8 border-t border-mid/5"
    transition:persist
>
    <div
        class="max-w-8xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-16 md:gap-8 text-lg"
    >
        <div class="flex flex-col gap-4">
            <h3 class="text-3xl text-charcoal">Morfar's Lamper</h3>

            <address class="not-italic font-light leading-relaxed">
                2880 Bagsværd
            </address>

            <div class="font-light">
                <p class="block font-normal">CVR:</p>
                <p>12971737</p>
            </div>
        </div>

        <div class="flex flex-col gap-4">
            <h3 class="text-3xl text-charcoal">Kontaktoplysninger</h3>

            <div class="font-light">
                <p class="font-normal">Ring til os på:</p>
                <a
                    href="tel:+4522102324"
                    class="hover:text-primary transition-colors duration-300"
                >
                    +45 40 51 80 33
                </a>
            </div>

            <div class="font-light">
                <p class="font-normal">Skriv til os på:</p>
                <a
                    href="mailto:pnentreprise@outlook.dk"
                    class="hover:text-primary transition-colors duration-300"
                >
                    pnentreprise@outlook.dk
                </a>
            </div>
        </div>

        <div class="flex flex-col gap-10">
            <div class="flex flex-col gap-4">
                <h3 class="text-3xl text-charcoal">Åbningstider</h3>

                <div class="font-light space-y-2 w-full max-w-sm">
                    <div
                        class="flex justify-between items-center border-b border-charcoal/15 pb-1"
                    >
                        <span>Mandag til Fredag</span>
                        <span class="tabular-nums font-medium">7 - 16</span>
                    </div>
                    <div
                        class="flex justify-between items-center text-mid/60 pt-1"
                    >
                        <span>Lørdag, Søn & Helligdage</span>
                        <span>Lukket</span>
                    </div>
                </div>
            </div>

            <!-- <div class="flex flex-col gap-4">
                <h3 class="text-3xl font-serif text-mid">
                    Telefontider
                </h3>

                <div class="font-light space-y-2 w-full max-w-sm">
                    <div
                        class="flex justify-between items-center border-b border-mid/5 pb-1"
                    >
                        <span>Mandag til Fredag</span>
                        <span class="tabular-nums font-medium">7 - 16</span>
                    </div>
                    <div
                        class="flex justify-between items-center text-mid/60 pt-1"
                    >
                        <span>Lørdag, Søn & Helligdage</span>
                        <span>Lukket</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</footer>
